[submodule "dependencies/iPlug2"]
	path = dependencies/iPlug2
	url = https://github.com/jamesb93/iPlug2.git
[submodule "dependencies/flucoma-core"]
	path = dependencies/flucoma-core
	url = https://github.com/jamesb93/flucoma-core
	branch = reacoma
